* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #000000; /* fallback for old browsers */
  background: rgb(80, 80, 80);
  background: radial-gradient(
    circle,
    rgb(36, 36, 36) 0%,
    rgba(15, 15, 15, 1) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.score {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  color: white;
}

.gameboard-container {
  display: flex;
  align-items: center;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.16);
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
  position: relative;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.lightBlue {
  background: #22a6b3;
}

.lightBlue.light {
  background: #7ed6df;
}

.red {
  background: #be2edd;
}

.red.light {
  background: #e056fd;
}

.orange {
  background: #f0932b;
}

.orange.light {
  background: #ffbe76;
}

.green {
  background: #6ab04c;
}

.green.light {
  background: #badc58;
}

.btn-start {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px black;
  background-image: url(./imgs/btn-on.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.hide {
  display: none;
}
